@model WarrierCards.Website.Models.CardDetailsModel

<div class="center-panel">
    <h2 class="pageHeader">@Model.CardDetails.CardName </h2>
    <div class="float-left large-pane boxed">
        @{ 
            Model.CardDetails.CardImages.Insert(0, Model.CardDetails.CardMainImagePath);
            Html.RenderPartial("_CardGallery", Model.CardDetails.CardImages); 
        }
    </div>

    <div class="float-left small-pane boxed warrier-buttons">
        @{  Html.RenderPartial("_CardBasicInfo", (WarrierCards.Website.CatalogueService.CardBasicInfo)Model.CardDetails);  }
    </div>

    <div class="clear" style="margin-top: 10px;"></div>

    <div class="float-left large-pane boxed">
        <div style="padding: 0.8em;">
            <div class="bold">About the product</div>
            This is a nice product, and this is a static dummy text.<br />
            <br />
            <ul class="details-list">
                <li>Code: @Model.CardDetails.CardModelNumber</li>
                <li>Sale: <span class="bold">&#8377;@Model.CardDetails.CardSellingPrice</span></li>
                <li>Width: </li>
                <li>Height: </li>
                <li>Weight: </li>
                @{ string orientation = Model.CardDetails.IsPortrait ? "Portrait" : "Landscape";}
                <li>Orientation: @orientation</li>
            </ul>
        </div>
    </div>

    <div class="float-left small-pane boxed">

        <span class="bold">Similar Cards</span>
        <div class="wrapper">
            <span class="semiboldTtext">This is coming soon.
                <br />
                This is coming soon.
                <br />
                This is coming soon.
                <br />
            </span>
        </div>
        @*FEED THIS WITH ASYNC AJAX CALL - PRINCE - TODO*@

    </div>
</div>
