@model WarrierCards.Website.Models.CardDetailsModel

<div class="center-panel">
    <h2>Home &#10093;&#10093; @Model.CardDetails.CardName </h2>
    <div class="float-left large-pane">
        @{ 
            Model.CardDetails.CardImages.Insert(0, Model.CardDetails.CardMainImagePath);
            Html.RenderPartial("CardGallery", Model.CardDetails.CardImages); 
        }
    </div>

    <div class="float-left small-pane warrier-buttons">
        @{  Html.RenderPartial("CardBasicView", (WarrierCards.Website.CatalogueService.CardBasicInfo)Model.CardDetails);  }
    </div>
    
    <div class="clear" style="margin-top: 10px;"></div>

    <div class="float-left large-pane">
        <div style="padding: 0.8em;">
            <div class="bold">About the product</div>
            This is a nice product, and this is a static dummy text.<br />
            <br />
            <ul class="details-list">
                <li>Code: @Model.CardDetails.CardModelNumber</li>
                <li>Sale: <span class="selling-price">&#8377;@Model.CardDetails.CardSellingPrice</span></li>
                <li>Width: </li>
                <li>Height: </li>
                <li>Weight: </li>
                @{ string orientation = Model.CardDetails.IsPortrait ? "Portrait" : "Landscape";}
                <li>Orientation: @orientation</li>
            </ul>
        </div>
    </div>

    <div class="float-left" style="margin: 0 10px; border: 1px solid #dedede; width: 250px; height: 400px;">
        This is test text.This is test text.
        <br />
        This is test text.This is test text.
        <br />
        This is test text. This is test text.<br />
        This is test text. This is test text.<br />
        This is test text. This is test text.<br />
        @*FEED THIS WITH ASYNC AJAX CALL - PRINCE - TODO*@
    </div>


</div>

</div>
