@model WarrierCards.Website.CatalogueService.CardQuickViewData

<div class="center-panel">
    <h2 class="pageHeader">@Model.CardName </h2>
    <div class="float-left large-pane boxed">
        @{ 
            Model.CardImages.Insert(0, Model.CardMainImagePath);
            Html.RenderPartial("_CardGallery", Model.CardImages); 
        }
    </div>

    <div class="float-left small-pane boxed warrier-buttons">
        @{  Html.RenderPartial("_CardBasicInfo", (WarrierCards.Website.CatalogueService.CardBasicInfo)Model);  
        }
    </div>
</div>
