@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<p class="error">Sorry, an error occurred while processing your request.</p>
<p class="normalText">This error can be caused by: <br />@Model.Exception.Message</p>