/* LAYOUT */
html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.full-width {
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center-panel {
    width: 80%;
    display: table;
    margin: 0px auto;
}

.large-pane {
    width: 60%;
    padding: 1em;
    display: table;
    border: 1px solid #dedede;
    margin-left: 4px;
}

.small-pane {
    width: 30%;
    min-width: 240px;
    margin-left: 1em;
}

.cartBox {
    padding: 3%;
    background: #fafafa;
    margin-bottom: 10px;
    width: 94%;
}

.boxed {
    border: 1px solid #dedede;
}

    .boxed h2 {
        margin: 0;
        padding: 8px;
        background: #f7f6f6;
        font: bold 0.9em Arial;
    }

.wrapper {
    padding: 1em;
}

.marginTop {
    margin-top: 10px;
}
/* Text Styling*/
.card-name {
    height: 20px;
    color: #359AC7;
    font-weight: 400;
}

.strikedRed {
    text-decoration: line-through;
    color: red;
    font-size: 11px;
}

.bold {
    font-weight: 500;
}

.smallItalic {
    font: italic 10px Verdana;
}

.normal-text {
    font: normal 12px Arial;
    line-height: 16px;
}

.semibold-text {
    font: 500 12px Arial;
}

/* FORM ELEMENTS */
.warrier-buttons div {
    margin-top: 20px;
}

.warrier-buttons input[type="button"], input.warrier-button, input.send {
    font-size: 0.9em;
    width: 75%;
    height: 2.8em;
    color: #000;
    cursor: pointer;
    border: 1px solid #808080;
    background-color: #FFDF6D;
}

input[type="button"].buy-now {
    background: url('../../images/buy-now.png') no-repeat #FFA404 3% center;
}

input[type="button"].add-to-cart {
    background: url('../../images/cart-black.png') no-repeat #FFA404 3% center;
}

input[type="button"].sample {
    background: url('../../images/sample.png') no-repeat #FFDF6D 3% center;
}

input[type="button"].enquiry, input.send {
    background: url('../../images/enquiry.png') no-repeat #FFDF6D 3% center;
}

input[type="button"].shortlist {
    background-color: #FFDF6D;
    background-position-x: 3%;
}

input.small {
    width: 180px;
    height: 28px;
}

.smaller {
    width: 30px;
    height: 12px;
}

/* ANCHOR */
a {
    color: #333;
    outline: none;
    /*padding-left: 3px;
    padding-right: 3px;*/
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        /*background-color: #c7d1d6;*/
    }

.hover-link {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5;
    cursor: pointer;
    background: #e2e2e2;
}

a.mainLink {
    color: #4F7DD1;
    text-decoration: underline;
    font: normal 12px Arial;
}

/* MEDIA */
img.imageMedium {
    width: 120px;
    height: 120px;
    border: 1px solid #dedede;
    padding: 4px;
    margin-right: 6px;
}

/***************************************************************/
header, footer, hgroup,
nav, section {
    display: block;
}

#header-nav {
    width: 100%;
    min-height: 8.5em;
    color: #fff;
}

    #header-nav tr:first-child td {
        vertical-align: top;
    }

    #header-nav tr:nth-child(2) td:first-child {
        width: 70%;
    }

    #header-nav tr:nth-child(2) td {
        vertical-align: bottom;
    }

    #header-nav a {
        color: #fff;
    }

.search-textbox {
    width: 80%;
    height: 1.5em;
    vertical-align: middle;
    border: 1px solid #359AC7;
}

.search-button {
    height: 2.3em;
    width: 3em;
    border: none;
    vertical-align: middle;
    background: url('../Images/search.png') #fff no-repeat center center;
}

.nav-cart {
    background: url('../images/cart.png') no-repeat top center;
    padding: 31px 10px 0px 8px;
}

.nav-shortlist {
    background: url('../images/shortlisted.png') no-repeat top center;
    padding: 26px 10px 0px 8px;
}

.nav-user {
    background: url('../images/user.png') no-repeat top center;
    padding: 26px 10px 0px 10px;
}

.sup {
    color: yellow;
    font-weight: 500;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font: normal 1.5em Arial;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    width: 100%;
}

#body {
    background-color: #fff;
    clear: both;
    padding-bottom: 35px;
    /*border-top: 2em solid #359AC7;*/
}

.main-content {
    /*background: url("../Images/accent.png") no-repeat;*/
    padding-top: 0px;
}

.featured + .main-content {
    /*background: url("../Images/heroAccent.png") no-repeat;*/
}

header .content-wrapper {
    margin: 0px auto;
    width: 100%;
    background: #ad100b;
    float: left;
}

.header-left {
    float: left;
    padding: 10px;
}

.header-right {
    float: right;
    font: bold 0.8em arial;
    width: 60%;
    padding: 10px 10px 0 0;
    text-align: right;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

/* Feature listing */
.feature-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e2e2e2;
}

    .feature-list li {
        float: none;
        border-bottom: 2px solid #fff;
        padding: 1.3em 0 1.3em 4.6em;
    }

    .feature-list a, #menu-bar a {
        color: #fff;
        font: bold 1em Arial;
    }

        .feature-list a:hover, #menu-bar a:hover {
            color: #ff1;
        }

#menu-bar a {
    font-weight: normal;
}

li.cards {
    background: url('../Images/collection.png') no-repeat #939696 0.5em center;
}

li.easy {
    background: url('../Images/easy.png') no-repeat #359AC7 0.5em center;
}

li.pay {
    background: url('../Images/pay.png') no-repeat #939696 0.5em center;
}

li.refund {
    background: url('../Images/refund.png') no-repeat #359AC7 0.5em center;
}

li.support {
    background: url('../Images/support.png') no-repeat #939696 0.5em center;
}

/* Card Filters */
.filter-tool {
    padding: 10px 0 10px 10px;
    font: normal 11px Arial;
}

.go-button {
    background: url('../../Images/Go.gif') transparent no-repeat top center;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    border: none;
}

/* Card Details view styling */
.align-center {
    text-align: center;
}

.gallery {
    display: table;
    margin: 0px auto;
    height: 100%;
}

.gallery-main {
    width: 100%;
    height: 300px;
    min-height: 300px;
    vertical-align: middle;
    display: table-cell;
}

.thumbnails {
    margin: 0px auto;
    display: table-row;
}

    .thumbnails img, img.thumb {
        margin: 0 2px;
        padding: 2px;
        width: 50px;
        height: 50px;
        border: 1px solid #dedede;
    }

        .thumbnails img.selected {
            border: 1px solid #FFA404;
        }

.details-list {
    padding: 0;
    margin: 0;
}

    .details-list li {
        list-style: none;
    }

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }

/* Carousel
----------------------------------------------------------*/
.jssorb05 {
    position: absolute;
}

    .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
        position: absolute;
        /* size of bullet elment */
        width: 16px;
        height: 16px;
        background: url('../../Images/Rolling/selectors.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb05 div {
        background-position: -7px -7px;
    }

        .jssorb05 div:hover, .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

    .jssorb05 .av {
        background-position: -67px -7px;
    }

    .jssorb05 .dn, .jssorb05 .dn:hover {
        background-position: -97px -7px;
    }

/* jssor slider arrow navigator skin 12 css */
/*
        .jssora12l                  (normal)
        .jssora12r                  (normal)
        .jssora12l:hover            (normal mouseover)
        .jssora12r:hover            (normal mouseover)
        .jssora12l.jssora12ldn      (mousedown)
        .jssora12r.jssora12rdn      (mousedown)
        */
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../../Images/Rolling/Arrows.png') no-repeat;
    overflow: hidden;
}

.jssora12l {
    background-position: -16px -37px;
}

.jssora12r {
    background-position: -75px -37px;
}

.jssora12l:hover {
    background-position: -136px -37px;
}

.jssora12r:hover {
    background-position: -195px -37px;
}

.jssora12l.jssora12ldn {
    background-position: -256px -37px;
}

.jssora12r.jssora12rdn {
    background-position: -315px -37px;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0px auto; /* 15% from the top and centered */
    margin-top: 7%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-main {
    margin: 0px auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.tooltip {
    position: fixed;
    z-index: 100;
    background: #fff;
    padding: 4px 5px;
    display: none;
    color: #ad100b;
    font: normal 11px Verdana;
    border: 1px solid gray;
    border-radius: 4px;
}
/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/*Catalogue Display*/
.clear {
    clear: both;
    float: none;
}

h4.content-header {
    color: #fff;
    padding: 10px;
    margin: 0;
    background: #359ac7;
}

.catalogue {
    width: 100%;
    margin: 10px auto;
    clear: right;
}

.data-wrapper {
    width: 80%;
    margin: 0px auto;
}

    .data-wrapper article {
        border-radius: 4px;
        margin: 0em 1.5em 0 0;
        padding: 0em 0.2em;
        border: 1px solid #359AC7;
        min-height: 200px;
        min-width: 250px;
        text-align: center;
        color: #fff;
        position: relative;
        width: calc(33.33333% - 1.9em);
    }

    /*.data-wrapper  article:last-child {
        margin: 0;
    }*/

    .data-wrapper h3 {
        color: #fff;
        margin: 10px 0;
    }


.style1 {
    background-color: #b56fd3;
}

.style2 {
    background: #46a5aa;
}

.style3 {
    background: #DA3D68;
}

.catalogue article {
    position: relative;
    width: calc(33.3% - 2.5em);
    margin: 1.3em 2em 0 0;
    border: 1px solid #359ac7;
    min-height: 290px;
    min-width: 240px;
    text-align: center;
    /*padding: 0.4em 0.5em 0 0.4em;*/
    color: #000;
    display: table;
}

.catalogue > a:last-child > article {
    margin-right: 0px;
}

.card-image {
    height: 210px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

img.portrait {
    width: 75%;
    height: 95%;
    max-height: 210px;
}

.landscape {
    margin: 0;
    width: 95%;
    height: 90%;
}

.card-basics {
    vertical-align: middle;
    display: table-cell;
    height: 20px;
}

.card-actions {
    display: table-row;
}

    .card-actions a {
        font: normal 12px Arial;
        margin-right: 8px;
        padding: 4px 2px 4px 24px;
    }

.shortlist {
    background: url('../../Images/shortlist.png') no-repeat #fff left center;
}

.shortlisted {
    background: url('../../Images/shortlisted.png') no-repeat #fff left center;
}

.view-details {
    background: url('../../Images/details-view.png') no-repeat #fff left center;
}

.quick-view {
    background: url('../../Images/quick-view.png') no-repeat #fff left center;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
.warrier-user {
    padding: 0 10px;
    clear: left;
    float: none;
    max-width: 500px;
}

    .warrier-user input[type="text"] {
        width: 100%;
    }

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

/*input[type="submit"],
input[type="button"],
button {
    background-color: #359AC7;
    border: 1px solid #3e3e3e;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    margin-right: 0;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}*/

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: .2em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    .mytest {
        background: red;
    }
    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /*/* logo 
    header .site-title {
        margin: 10px;
        text-align: center;
    }*/

    /* login */
    #login {
        font-size: .85em;
        margin: 0;
        text-align: center;
    }

        #login ul {
            margin: 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }

    .small-pane {
        width: 100%;
        min-width: 250px;
        padding: 0;
        margin-left: 0px;
        margin-top: 10px;
    }
}
