<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>

      <service behaviorConfiguration="WCServiceBehavior" name="WarrierCards.Service.Services.Catalogue.CatalogueService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract="WarrierCards.Service.Services.Catalogue.ICatalogueService" />
        <host>
          <baseAddresses>
            <add baseAddress="ServiceConfigs/CatalogueService.svc/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="WCServiceBehavior" name="WarrierCards.Service.Services.Security.SecurityService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
          contract=" WarrierCards.Service.Services.Security.ISecurityService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="ServiceConfigs/SecurityService.svc/" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
